<!-- Loader Section -->
<div id="loader-overlay">
  <div class="loader-content">
    <div class="logo-animation">
      <span class="vault">Vault</span><span class="read">Read</span>
    </div>
    <div class="spinner"></div>
  </div>
</div>